@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@{
    var ourServiceImage = Model?.Value<IPublishedContent>("ourServiceImage")?.Url() ?? "";
}

<section class="review-for-our-service bg-gray">
	<div class="container">
		<div class="content-left">
			<h6>@Model.Value("ourServiceHeading")</h6>
			<h2>@Model.Value("ourServiceTitle")</h2>
			<p class="quote">@Model.Value("ourServiceQuote")</p>
			<span><i class="fa-solid fa-star"></i></span>
			<span><i class="fa-solid fa-star"></i></span>
			<span><i class="fa-solid fa-star"></i></span>
			<span><i class="fa-solid fa-star"></i></span>
			<span><i class="fa-solid fa-star"></i></span>
			<p class="name">@Model.Value("ourServiceName")</p>
			<p class="company">@Model.Value("ourServiceCompany")</p>
		</div>

		<div class="content-right">
			<img class="fade" src="@ourServiceImage" alt="Kevin Gardner">
		</div>
	</div>
</section>