@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settings") ?? null;
    var officeLocation = settings?.Value<string>("officeLocation") ?? "";
    var siteName = settings?.Value<string>("siteName") ?? "";
    var siteLogotype = settings?.Value<IPublishedContent>("siteLogotype")?.Url() ?? "";

    var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray();
}

<header>
    <div class="header-top-info bg-primary">
        <div class="container">
            <p>
                <a href="/contact/" target="_self">@officeLocation</a>
            </p>

            <div class="social-media">
                <a href="https://www.facebook.com/" target="_blank" class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://x.com/" target="_blank" class="twitter"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://se.linkedin.com/" target="_blank" class="linked-in"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>

    <div class="header-nav bg-light">
        <div class="container">
            <a href="/">
                <img src="@siteLogotype" alt="@siteName">
            </a>

            <nav class="head-nav">
                @if (selection?.Length > 0)
                {
        
                    @foreach (var item in selection)
                    {
                        <a class="@(item.IsAncestorOrSelf(Model) ? "head-link-active" : "head-link")" href="@item.Url(PublishedUrlProvider)" title="@item.Name">@item.Name</a>
                    }                              
                }      
            </nav>

            <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>
</header>